html,
body,
#root {
  width: 100%;
  height: 100%;
}

html,
body {
  overflow: hidden;
}

#root {
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (max-width: 839px) {
  #root {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 840px) {
  #root {
    display: flex;
    flex-direction: row;
  }
}

.card-icon {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
}

.card-icon.color-primary {
  background-color: var(--color-primary-container);
  color: var(--color-on-primary-container);
}

.card-icon.color-secondary {
  background-color: var(--color-secondary-container);
  color: var(--color-on-secondary-container);
}

.card-icon.color-error {
  background-color: var(--color-error-container);
  color: var(--color-on-error-container);
}

@media screen and (max-width: 839px) {
  nav.supporting-nav {
    white-space: nowrap;
    width: 100%;
  }

  nav.supporting-nav > a {
    width: 90%;
    flex-shrink: 0;
    white-space: normal;
  }
}

table.component-reference {
  border-spacing: 0;
}

table.component-reference > thead > tr > th {
  border-bottom: 1px solid var(--color-outline);
}

table.component-reference > tbody > tr:nth-child(odd) > td {
  background-color: var(--color-surface-container-highest);
}

/*
Background: rgb(39, 40, 34) #272822
Comments: rgb(117, 113, 94) #75715E
White: rgb(248, 248, 242) #F8F8F2
Yellow: rgb(230, 219, 116) #E6DB74
Green: rgb(166, 226, 46) #A6E22E
Orange: rgb(253, 151, 31) #FD971F
Purple: rgb(174, 129, 255) #AE81FF
Pink: rgb(249, 38, 114) #F92672
Blue: rgb(102, 217, 239) #66D9EF
*/

pre {
  background-color: #272822;
  color: #f8f8f2;
  padding: var(--spacing-sm);
  border-radius: var(--shape-sm);
  overflow-y: hidden;
  overflow-x: auto;
}

pre > code {
  display: block;
}

pre > code::before {
  color: #797979;
  font-size: 12px;
  font-weight: 500;
  padding-inline-end: var(--spacing-sm);
}

pre.sh > code::before {
  content: '$';
}

pre.js {
  counter-reset: count;
}

pre.js > code {
  counter-increment: count;
}

pre.js > code::before {
  content: counter(count);
  display: inline-block;
  width: 24px;
}

pre.js > code.sp-1::before {
  margin-inline-end: 2ch;
}

pre.js > code.sp-2::before {
  margin-inline-end: 4ch;
}

pre.js > code.sp-3::before {
  margin-inline-end: 6ch;
}

pre.js > code.sp-4::before {
  margin-inline-end: 8ch;
}

pre.js > code.sp-5::before {
  margin-inline-end: 10ch;
}

pre.js > code > i {
  font-style: normal;
  color: #75715e;
}

pre.js > code > kbd {
  font-style: normal;
  color: #f92672;
}

pre.js > code > samp {
  color: #e6db74;
}

pre.js > code > em {
  color: #66d9ef;
}

pre.js > code > b {
  color: #a6e22e;
}

pre.js > code > u {
  color: #66d9ef;
}

pre.js > code > ins {
  color: #fd971f;
  text-decoration: none;
}
