header.m3-appbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 64px;
  flex-shrink: 0;
  transition-property: background-color, box-shadow, height;
  transition-duration: var(--ease-duration);
  transition-timing-function: var(--ease-standard);
  background-color: var(--color-surface);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;

  > .row {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1199px;

    &.is-fluid {
      max-width: unset;
    }

    > [role='presentation'] {
      flex: auto;
      display: flex;
      align-items: center;
      gap: var(--spacing-sm);
    }

    > [role='toolbar'] {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: var(--spacing-sm);
    }
  }

  &.is-small {
    max-height: 64px;

    > div.row {
      padding-inline: var(--spacing-sm);
      padding-block: var(--spacing-xs);
      gap: var(--spacing-sm);
    }
  }

  &.is-medium,
  &.is-large {
    > div.row {
      justify-content: space-between;
      padding: var(--spacing-sm);
      gap: var(--spacing-sm);
    }

    > hgroup.row {
      flex-direction: column;
      padding-inline: var(--spacing-lg);
      padding-block-start: var(--spacing-sm);
      padding-block-end: var(--spacing-md);

      > h1,
      > p {
        width: 100%;
      }
    }
  }

  &.is-medium {
    max-height: 136px;
  }

  &.is-large {
    max-height: 152px;
  }

  &.is-scroll {
    background-color: var(--color-surface-container);
    box-shadow: var(--elevation-2);
  }
}
