@use '../mixin' as *;

.rm-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-sm);
  height: 40px;
  border-radius: var(--shape-xl);
  padding-inline: var(--spacing-xl);
  transition-property: box-shadow;
  transition-duration: var(--ease-emphasized-duration);
  transition-timing-function: var(--ease-emphasized);
  @include state-layer;

  &:hover {
    @include state-layer-hover;
  }

  &:focus {
    @include state-layer-focus;
  }

  &__disabled {
    background-color: rgba(22, 22, 22, 0.12);
    color: var(--color-on-surface);
    box-shadow: none;
  }

  &__label {
    font: var(--text-label-large);
  }

  &__elevated {
    box-shadow: var(--elevation-1);
    background-color: var(--color-surface-container-low);
    color: var(--color-primary);

    &:hover {
      box-shadow: var(--elevation-2);
    }
  }

  &__filled {
    background-color: var(--color-primary);
    color: var(--color-on-primary);

    &:hover {
      box-shadow: var(--elevation-1);
    }
  }

  &__tonal {
    background-color: var(--color-secondary-container);
    color: var(--color-on-secondary-container);

    &:hover {
      box-shadow: var(--elevation-1);
    }
  }

  &__outlined {
    border: 1px solid var(--color-outline);
    color: var(--color-primary);

    &:disabled {
      background-color: transparent;
      border-color: rgba(22, 22, 22, 0.12);
    }
  }

  &__text {
    color: var(--color-primary);
    padding-inline: var(--spacing-lg);

    &:disabled {
      background-color: transparent;
    }
  }
}
