@use '../mixin' as *;

%button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition-property: box-shadow, border-radius;
  transition-duration: var(--ease-emphasized-duration);
  transition-timing-function: var(--ease-emphasized);
  @include state-layer;

  &:hover {
    @include state-layer-hover;
  }

  &:focus {
    @include state-layer-focus;
  }

  &:disabled {
    background-color: rgba(22, 22, 22, 0.12);
    color: var(--color-on-surface);
    box-shadow: none;
  }

  &.size {
    &-xs {
      height: 32px;
      padding-inline: var(--spacing-md);
      gap: var(--spacing-xs);
      border-radius: var(--shape-xl);

      &:active {
        border-radius: var(--shape-sm);
      }

      > .label {
        font: var(--text-label-large);
      }
    }
    &-sm {
      height: 40px;
      padding-inline: var(--spacing-lg);
      gap: var(--spacing-sm);
      border-radius: var(--shape-xl);

      &:active {
        border-radius: var(--shape-sm);
      }

      > .label {
        font: var(--text-label-large);
      }
    }
    &-md {
      height: 56px;
      padding-inline: var(--spacing-xl);
      gap: var(--spacing-sm);
      border-radius: var(--shape-xl);

      &:active {
        border-radius: var(--shape-md);
      }

      > .label {
        font: var(--text-title-medium);
      }
    }
    &-lg {
      height: 96px;
      padding-inline: 48px;
      gap: var(--spacing-md);
      border-radius: 48px;

      &:active {
        border-radius: var(--shape-lg);
      }

      > .label {
        font: var(--text-headline-small);
      }
    }
    &-xl {
      height: 136px;
      padding-inline: 64px;
      gap: var(--spacing-lg);
      border-radius: 68px;

      &:active {
        border-radius: var(--shape-lg);
      }

      > .label {
        font: var(--text-headline-large);
      }
    }
  }
}

button.m3-button {
  &-elevated {
    @extend %button;
    box-shadow: var(--elevation-1);
    background-color: var(--color-surface-container-low);
    color: var(--color-primary);

    &:hover {
      box-shadow: var(--elevation-2);
    }
  }

  &-filled {
    @extend %button;
    background-color: var(--color-primary);
    color: var(--color-on-primary);

    &:hover {
      box-shadow: var(--elevation-1);
    }
  }

  &-tonal {
    @extend %button;
    background-color: var(--color-secondary-container);
    color: var(--color-on-secondary-container);

    &:hover {
      box-shadow: var(--elevation-1);
    }
  }

  &-outlined {
    @extend %button;
    border: 1px solid var(--color-outline);
    color: var(--color-primary);

    &:disabled {
      background-color: transparent;
      border-color: rgba(22, 22, 22, 0.12);
    }
  }

  &-text {
    @extend %button;
    color: var(--color-primary);
    padding-inline: var(--spacing-lg);

    &:disabled {
      background-color: transparent;
    }
  }
}
