@use '../mixin' as *;

.rm-canonical-layout {
  display: grid;
  width: 100%;
  max-width: 1199px;

  &__fluid {
    max-width: unset;
  }

  &__list-detail {
    @media screen and (max-width: 839px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 840px) {
      grid-template-columns: 45% 55%;
    }
  }

  &__supporting-pane {
    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
      grid-template-columns: 2fr minmax(180px, 360px);
    }
  }

  &__feed {
    @media screen and (max-width: 599px) {
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 600px) and (max-width: 839px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 840px) and (max-width: 1199px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1200px) and (max-width: 1599px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 1600px) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  &__gap {
    &-none {
      gap: 0;
    }
    &-xs {
      gap: var(--spacing-xs);
    }
    &-sm {
      gap: var(--spacing-sm);
    }
    &-md {
      gap: var(--spacing-md);
    }
    &-lg {
      gap: var(--spacing-lg);
    }
    &-xl {
      gap: var(--spacing-xl);
    }
  }

  &__row-gap {
    &-none {
      gap: 0;
    }
    &-xs {
      row-gap: var(--spacing-xs);
    }
    &-sm {
      row-gap: var(--spacing-sm);
    }
    &-md {
      row-gap: var(--spacing-md);
    }
    &-lg {
      row-gap: var(--spacing-lg);
    }
    &-xl {
      row-gap: var(--spacing-xl);
    }
  }

  &__column-gap {
    &-none {
      gap: 0;
    }
    &-xs {
      column-gap: var(--spacing-xs);
    }
    &-sm {
      column-gap: var(--spacing-sm);
    }
    &-md {
      column-gap: var(--spacing-md);
    }
    &-lg {
      column-gap: var(--spacing-lg);
    }
    &-xl {
      column-gap: var(--spacing-xl);
    }
  }

  @include spacing-rules('padding');
  @include spacing-rules('padding-block');
  @include spacing-rules('padding-block-end');
  @include spacing-rules('padding-block-start');
  @include spacing-rules('padding-inline');
  @include spacing-rules('padding-inline-end');
  @include spacing-rules('padding-inline-start');

  @include spacing-rules('margin', 1);
  @include spacing-rules('margin-block', 1);
  @include spacing-rules('margin-block-end', 1);
  @include spacing-rules('margin-block-start', 1);
  @include spacing-rules('margin-inline', 1);
  @include spacing-rules('margin-inline-end', 1);
  @include spacing-rules('margin-inline-start', 1);
}
