@use '../mixin' as *;

.m3-card-media {
  border-radius: var(--shape-md);
  width: 100%;
  transition:
    aspect-ratio var(--ease-duration) var(--ease-standard),
    object-fit var(--ease-duration) var(--ease-standard),
    object-position var(--ease-duration) var(--ease-standard),
    background-color var(--ease-duration) var(--ease-standard),
    color var(--ease-duration) var(--ease-standard);

  &.has-aspect {
    &-16x9 {
      aspect-ratio: 16 / 9;
    }
    &-1x1 {
      aspect-ratio: 1 / 1;
    }
    &-4x3 {
      aspect-ratio: 4 / 3;
    }
  }

  &.is-fit {
    &-contain {
      object-fit: contain;
    }
    &-cover {
      object-fit: cover;
    }
    &-fill {
      object-fit: fill;
    }
    &-none {
      object-fit: none;
    }
  }

  &.is-align {
    &-left-center {
      object-position: left center;
    }
    &-left-top {
      object-position: left top;
    }
    &-left-bottom {
      object-position: left bottom;
    }
    &-right-center {
      object-position: right center;
    }
    &-right-top {
      object-position: right top;
    }
    &-right-bottom {
      object-position: right bottom;
    }
    &-center {
      object-position: 50% 50%;
    }
  }
}
