@use '../mixin' as *;

%card {
  border-radius: var(--shape-md);
  transition-property: box-shadow, background-color, border-color;
  transition-duration: var(--ease-duration);
  transition-timing-function: var(--ease-duration);

  &.has-state-layer {
    @include state-layer;

    &:hover {
      @include state-layer-hover;
    }

    &:focus {
      @include state-layer-focus;
    }
  }
}

.m3-card {
  &-elevated {
    @extend %card;
    background-color: var(--color-surface-container-low);
    box-shadow: var(--elevation-1);

    &.has-state-layer {
      &:hover {
        box-shadow: var(--elevation-2);
      }
    }
  }

  &-filled {
    @extend %card;
    background-color: var(--color-surface-container-highest);

    &.has-state-layer {
      &:hover {
        box-shadow: var(--elevation-1);
      }
    }
  }

  &-outlined {
    @extend %card;
    background-color: var(--color-surface);
    border: 1px solid var(--color-outline);

    &.has-state-layer {
      &:hover {
        box-shadow: var(--elevation-1);
      }
    }
  }
}
