@use '../mixin' as *;

.rm-content {
  display: block;
  flex: auto;

  &__scrollable {
    &-x {
      &-hidden {
        overflow-x: hidden;
      }
      &-auto {
        overflow-x: auto;
      }
      &-scroll {
        overflow-x: scroll;
      }
      &-visible {
        overflow-x: visible;
      }
    }
    &-y {
      &-hidden {
        overflow-y: hidden;
      }
      &-auto {
        overflow-y: auto;
      }
      &-scroll {
        overflow-y: scroll;
      }
      &-visible {
        overflow-x: visible;
      }
    }
  }

  @include flexbox-rules;

  @include spacing-rules('padding');
  @include spacing-rules('padding-block');
  @include spacing-rules('padding-block-end');
  @include spacing-rules('padding-block-start');
  @include spacing-rules('padding-inline');
  @include spacing-rules('padding-inline-end');
  @include spacing-rules('padding-inline-start');

  @include spacing-rules('margin', 1);
  @include spacing-rules('margin-block', 1);
  @include spacing-rules('margin-block-end', 1);
  @include spacing-rules('margin-block-start', 1);
  @include spacing-rules('margin-inline', 1);
  @include spacing-rules('margin-inline-end', 1);
  @include spacing-rules('margin-inline-start', 1);

  @include grid-rules;
}
