dialog.m3-dialog {
  border: none;
  background-color: var(--color-surface-container-high);
  color: var(--color-on-surface-variant);
  box-shadow: var(--elevation-3);
  border-radius: var(--shape-xl);
  min-width: 280px;
  max-width: 560px;
  height: max-content;
  max-height: 80dvh;
  padding: var(--spacing-xl);
  margin: auto;
  overflow: hidden;
  animation: translateDownDialog var(--ease-accelerate-duration)
    var(--ease-accelerate) forwards;
  transition:
    overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;

  &::backdrop {
    background-color: var(--color-scrim);
    animation: hideBackdrop var(--ease-accelerate-duration)
      var(--ease-accelerate) forwards;
    transition:
      overlay 0.7s ease-out allow-discrete,
      display 0.7s ease-out allow-discrete;
  }

  &[open] {
    animation: translateUpDialog var(--ease-decelerate-duration)
      var(--ease-decelerate) forwards;

    &::backdrop {
      animation: showBackdrop var(--ease-decelerate-duration)
        var(--ease-decelerate) forwards;
    }
  }

  > div[role='presentation'] {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: calc(80dvh - 48px);
    overflow: hidden;
  }

  &.is-fullscreen-on-compact {
    @media screen and (max-width: 599px) {
      padding: 0;
      min-width: unset;
      max-width: unset;
      max-height: unset;
      width: 100%;
      height: 100%;
      border-radius: 0;

      > div[role='presentation'] {
        max-height: unset;
      }
    }
  }
}
