@use '../mixin' as *;

%font {
  &.is-transform {
    &-capitalize {
      text-transform: capitalize;
    }
    &-lowercase {
      text-transform: lowercase;
    }
    &-uppercase {
      text-transform: uppercase;
    }
  }

  &.is-align {
    &-center {
      text-align: center;
    }
    &-justify {
      text-align: justify;
    }
    &-left {
      text-align: left;
    }
    &-right {
      text-align: right;
    }
  }

  &.is-color {
    &-primary {
      color: var(--color-primary);
    }
    &-secondary {
      color: var(--color-secondary);
    }
    &-tertiary {
      color: var(--color-tertiary);
    }
    &-reverse {
      color: var(--color-on-inverse-surface);
    }
    &-error {
      color: var(--color-error);
    }
  }
}

@mixin font-scale($scale) {
  &-#{$scale} {
    &-large {
      font: var(--text-#{$scale}-large);
      @extend %font;
    }
    &-medium {
      font: var(--text-#{$scale}-medium);
      @extend %font;
    }
    &-small {
      font: var(--text-#{$scale}-small);
      @extend %font;
    }
  }
}

.m3-font {
  @include font-scale('display');
  @include font-scale('headline');
  @include font-scale('title');
  @include font-scale('body');
  @include font-scale('label');

  &-code {
    font: var(--text-code);
    @extend %font;
  }
}
