@use '../mixin' as *;

a.m3-navlink {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xs);
  transition-property: background-color, color, font-size, width, height;
  transition-duration: var(--ease-duration);
  transition-timing-function: var(--ease-standard);

  > span.link-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 32px;
    position: relative;
    border-radius: var(--shape-lg);
    @include state-layer;

    &.is-active {
      background-color: var(--color-secondary-container);
      color: var(--color-on-secondary-container);
    }
  }

  &:hover > .link-indicator {
    @include state-layer-hover;
  }

  &:focus > .link-indicator {
    @include state-layer-focus;
  }

  &.is-horizontal {
    height: 56px;
    flex-direction: row;
    gap: var(--spacing-md);
    border-radius: var(--shape-xl);
    padding-inline: var(--spacing-lg);
    @include state-layer;

    &:hover {
      @include state-layer-hover;
    }

    &:focus {
      @include state-layer-focus;
    }

    &[aria-current='page'] {
      background-color: var(--color-secondary-container);
      color: var(--color-on-secondary-container);
    }
  }

  > span.link-label {
    font: var(--text-label-medium);

    &-horizontal {
      font: var(--text-label-large);
    }
  }
}
