@use '../mixin' as *;

%toolbar-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-md);
}

nav.m3-navrail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  padding: var(--spacing-md);
  min-width: 80px;
  max-width: 96px;
  height: 100%;
  flex-shrink: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-surface);
  transition-property:
    background-color, color, box-shadow, max-width, min-width;
  transition-duration: var(--ease-duration);
  transition-timing-function: var(--ease-standard);

  &[popover='manual'] {
    display: none;
    border: none;
    background-color: var(--color-surface-container);
    color: inherit;
    border-radius: var(--shape-lg-end);
    transform-origin: center right;
    animation: translateHideRail var(--ease-accelerate-duration)
      var(--ease-accelerate) forwards;
    transition:
      overlay 0.7s ease-out allow-discrete,
      display 0.7s ease-out allow-discrete;

    &::backdrop {
      background-color: var(--color-scrim);
      animation: hideBackdrop var(--ease-accelerate-duration)
        var(--ease-accelerate) forwards;
      transition:
        overlay 0.7s ease-out allow-discrete,
        display 0.7s ease-out allow-discrete;
    }

    &:popover-open {
      display: flex;
      animation: translateShowRail var(--ease-decelerate-duration)
        var(--ease-decelerate) forwards;

      &::backdrop {
        animation: showBackdrop var(--ease-decelerate-duration)
          var(--ease-decelerate) forwards;
      }
    }
  }

  > header {
    @extend %toolbar-div;
  }

  > [role='presentation'] {
    @extend %toolbar-div;
    flex: auto;
    overflow: hidden auto;

    @media screen and (min-width: 1200px) {
      @include tiny-scroll;
    }
  }

  > footer {
    @extend %toolbar-div;
    justify-content: flex-end;
  }

  &.is-expanded {
    min-width: 220px;
    max-width: 360px;

    > [role='presentation'] {
      align-items: flex-start;
    }
  }
}
