@keyframes showBackdrop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideBackdrop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes translateUpDialog {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes translateDownDialog {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(64px);
  }
}

@keyframes translateShowSideSheet {
  0% {
    opacity: 0;
    transform: translateX(256px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes translateHideSideSheet {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(256px);
  }
}

@keyframes translateUpDropdown {
  0% {
    opacity: 0;
    transform: translateY(64px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes translateDownDropdown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(64px);
  }
}

@keyframes scaleOpen {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleOpenDropdown {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes scaleCloseDropdown {
  0% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0);
  }
}

@keyframes translateShowInline {
  0% {
    opacity: 0;
    transform: translateX(-64px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes translateHideInline {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-64px);
  }
}
