@use 'sass:selector';

@mixin unify-parent($child) {
  @at-root #{selector.unify(&, $child)} {
    @content;
  }
}

@mixin state-layer {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: 0;
    background-color: currentColor;
    opacity: 0;
    transition-property: opacity;
    transition-duration: var(--ease-duration);
    transition-timing-function: var(--ease-standard);
    pointer-events: none;
  }
}

@mixin state-layer-hover {
  &::before {
    opacity: var(--opacity-hover);
  }
}

@mixin state-layer-focus {
  &::before {
    opacity: var(--opacity-focus);
  }
}

@mixin skeleton {
  overflow: hidden;
  border-color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--color-surface-container) 25%,
    var(--color-surface-container-low) 45%,
    var(--color-surface-container-lowest) 50%,
    var(--color-surface-container-low) 55%,
    var(--color-surface-container) 75%
  );
  background-size: 500% 500%;
  animation: skeletonWave 2s linear infinite;
}

@mixin spacing-rules($property, $auto: 0) {
  .#{$property}-none {
    #{$property}: 0;
  }
  .#{$property}-xs {
    #{$property}: var(--spacing-xs);
  }
  .#{$property}-sm {
    #{$property}: var(--spacing-sm);
  }
  .#{$property}-md {
    #{$property}: var(--spacing-md);
  }
  .#{$property}-lg {
    #{$property}: var(--spacing-lg);
  }
  .#{$property}-xl {
    #{$property}: var(--spacing-xl);
  }
  @if $auto == 1 {
    .#{$property}-auto {
      #{$property}: auto;
    }
  }
}

@mixin flexbox-rules {
  .is-flexbox {
    display: flex !important;

    &.flex {
      &-direction {
        &-row {
          flex-direction: row;
        }
        &-row-reverse {
          flex-direction: row-reverse;
        }
        &-column {
          flex-direction: column;
        }
        &-column-reverse {
          flex-direction: column-reverse;
        }
      }

      &-align-items {
        &-baseline {
          align-items: baseline;
        }
        &-center {
          align-items: center;
        }
        &-flex-end {
          align-items: flex-end;
        }
        &-flex-start {
          align-items: flex-start;
        }
        &-stretch {
          align-items: stretch;
        }
      }

      &-justify-content {
        &-baseline {
          justify-content: baseline;
        }
        &-center {
          justify-content: center;
        }
        &-flex-end {
          justify-content: flex-end;
        }
        &-flex-start {
          justify-content: flex-start;
        }
        &-space-around {
          justify-content: space-around;
        }
        &-space-between {
          justify-content: space-between;
        }
        &-space-evenly {
          justify-content: space-evenly;
        }
        &-stretch {
          justify-content: stretch;
        }
      }

      &-align-self {
        &-auto {
          align-self: auto;
        }
        &-baseline {
          align-self: baseline;
        }
        &-center {
          align-self: center;
        }
        &-flex-end {
          align-self: flex-end;
        }
        &-flex-start {
          align-self: flex-start;
        }
        &-stretch {
          align-self: stretch;
        }
      }

      &-justify-self {
        &-auto {
          justify-self: auto;
        }
        &-baseline {
          justify-self: baseline;
        }
        &-center {
          justify-self: center;
        }
        &-flex-end {
          justify-self: flex-end;
        }
        &-flex-start {
          justify-self: flex-start;
        }
        &-stretch {
          justify-self: stretch;
        }
      }

      &-gap {
        &-none {
          gap: 0;
        }
        &-xs {
          gap: var(--spacing-xs);
        }
        &-sm {
          gap: var(--spacing-sm);
        }
        &-md {
          gap: var(--spacing-md);
        }
        &-lg {
          gap: var(--spacing-lg);
        }
        &-xl {
          gap: var(--spacing-xl);
        }
      }

      &-row-gap {
        &-none {
          gap: 0;
        }
        &-xs {
          row-gap: var(--spacing-xs);
        }
        &-sm {
          row-gap: var(--spacing-sm);
        }
        &-md {
          row-gap: var(--spacing-md);
        }
        &-lg {
          row-gap: var(--spacing-lg);
        }
        &-xl {
          row-gap: var(--spacing-xl);
        }
      }

      &-column-gap {
        &-none {
          gap: 0;
        }
        &-xs {
          column-gap: var(--spacing-xs);
        }
        &-sm {
          column-gap: var(--spacing-sm);
        }
        &-md {
          column-gap: var(--spacing-md);
        }
        &-lg {
          column-gap: var(--spacing-lg);
        }
        &-xl {
          column-gap: var(--spacing-xl);
        }
      }

      &-wrap {
        &-none {
          flex-wrap: nowrap;
        }
        &-active {
          flex-wrap: wrap;
        }
        &-reverse {
          flex-wrap: wrap-reverse;
        }
      }
    }
  }
}

@mixin grid-rules {
  .is-grid {
    display: grid !important;

    &.grid {
      &-columns {
        &-2 {
          grid-template-columns: repeat(2, 1fr);
        }
        &-3 {
          grid-template-columns: repeat(3, 1fr);
        }
        &-4 {
          grid-template-columns: repeat(4, 1fr);
        }
        &-5 {
          grid-template-columns: repeat(5, 1fr);
        }
        &-6 {
          grid-template-columns: repeat(6, 1fr);
        }
        &-7 {
          grid-template-columns: repeat(7, 1fr);
        }
        &-8 {
          grid-template-columns: repeat(8, 1fr);
        }
        &-9 {
          grid-template-columns: repeat(9, 1fr);
        }
        &-10 {
          grid-template-columns: repeat(10, 1fr);
        }
        &-11 {
          grid-template-columns: repeat(11, 1fr);
        }
        &-12 {
          grid-template-columns: repeat(12, 1fr);
        }
      }

      &-gap {
        &-none {
          gap: 0;
        }
        &-xs {
          gap: var(--spacing-xs);
        }
        &-sm {
          gap: var(--spacing-sm);
        }
        &-md {
          gap: var(--spacing-md);
        }
        &-lg {
          gap: var(--spacing-lg);
        }
        &-xl {
          gap: var(--spacing-xl);
        }
      }

      &-row-gap {
        &-none {
          gap: 0;
        }
        &-xs {
          row-gap: var(--spacing-xs);
        }
        &-sm {
          row-gap: var(--spacing-sm);
        }
        &-md {
          row-gap: var(--spacing-md);
        }
        &-lg {
          row-gap: var(--spacing-lg);
        }
        &-xl {
          row-gap: var(--spacing-xl);
        }
      }

      &-column-gap {
        &-none {
          gap: 0;
        }
        &-xs {
          column-gap: var(--spacing-xs);
        }
        &-sm {
          column-gap: var(--spacing-sm);
        }
        &-md {
          column-gap: var(--spacing-md);
        }
        &-lg {
          column-gap: var(--spacing-lg);
        }
        &-xl {
          column-gap: var(--spacing-xl);
        }
      }
    }
  }
}

@mixin tiny-scroll {
  &::-webkit-scrollbar {
    max-width: 6px;
    max-height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-surface-container);
    border: 1px solid var(--color-background);
    border-radius: var(--shape-sm);
    margin: var(--spacing-sm);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-on-surface);
    border-radius: var(--shape-sm);

    &:hover {
      background: var(--color-secondary-container);
    }
  }

  &::-webkit-scrollbar-corner {
    background: var(--color-surface);
    border-radius: 50%;
  }
}

@mixin text-field {
  &-outlined {
    display: inline-flex;
    align-items: center;
    border-radius: var(--shape-xs);
    padding-inline: var(--spacing-md);
    padding-block: var(--spacing-lg);
    gap: var(--spacing-md);
    position: relative;
    color: var(--color-on-surface);
    transition:
      border-color var(--ease-duration) var(--ease-standard),
      color var(--ease-duration) var(--ease-standard);

    &.has-full-width {
      width: 100%;
      overflow: hidden;
    }

    &:disabled {
      opacity: 0.38;
    }

    &.has-label {
      margin-block-start: 9px;
    }

    &.has-error {
      color: var(--color-error);
    }

    > legend {
      text-align: left;
      transition:
        font-size var(--ease-duration) var(--ease-standard),
        transform var(--ease-duration) var(--ease-standard);
      pointer-events: none;
      padding-inline: var(--spacing-xs);
    }

    > [role='presentation'] {
      flex: auto;
      padding-inline: var(--spacing-xs);
    }

    > svg.has-error-icon {
      flex-shrink: 0;
      fill: var(--color-error);
      animation: scaleOpen var(--ease-decelerate-duration)
        var(--ease-decelerate) forwards;
    }

    &:not(:focus-within, .is-active) {
      border: none;
      outline: 1px solid var(--color-outline);

      &:disabled {
        outline-color: var(--color-outline-disabled);
      }

      &.has-error {
        outline-color: currentColor;
      }

      &.has-label {
        > [role='presentation'] > input::placeholder {
          opacity: 0;
        }
      }

      > legend {
        font: var(--text-body-large);
        position: relative;
        z-index: 1;
        transform: translateY(16px);
        margin-block-end: -24px;
      }
    }

    &:focus-within,
    &.is-active {
      border: 1px solid var(--color-outline);

      &:disabled {
        border-color: var(--color-outline-disabled);
      }

      &.has-error {
        border-color: currentColor;
      }

      &.has-label {
        margin-block-start: 0;

        > [role='presentation'] > input::placeholder {
          opacity: initial;
        }
      }

      > legend {
        font: var(--text-body-small);
        margin-block-end: -8px;
      }
    }

    &:focus-within {
      border-width: 2px;
      border-color: currentColor;

      &:not(.has-error) {
        color: var(--color-primary);
      }
    }
  }

  &-filled {
    display: inline-flex;
    align-items: center;
    border: none;
    background-color: var(--color-surface-container-highest);
    border-bottom: 1px solid var(--color-outline);
    border-radius: var(--shape-xs-top);
    padding-inline: var(--spacing-md);
    padding-block: var(--spacing-sm);
    gap: var(--spacing-md);
    position: relative;
    color: var(--color-on-surface);
    transition:
      border-color var(--ease-duration) var(--ease-standard),
      color var(--ease-duration) var(--ease-standard);

    &.has-full-width {
      width: 100%;
      overflow: hidden;
    }

    &:disabled {
      opacity: 0.38;
      border-color: var(--color-outline-disabled);
    }

    &.has-error {
      color: var(--color-error);
      border-color: currentColor;
    }

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: var(--color-primary);
      transition: transform var(--ease-duration) var(--ease-standard);
      transform: scaleX(0);
    }

    > [role='presentation'] {
      flex: auto;
      padding-inline: var(--spacing-xs);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      min-height: 40px;

      > label {
        width: 100%;
        text-align: left;
      }
    }

    > svg.has-error-icon {
      flex-shrink: 0;
      fill: var(--color-error);
      animation: scaleOpen var(--ease-decelerate-duration)
        var(--ease-decelerate) forwards;
    }

    &:not(:focus-within, .is-active) {
      & > [role='presentation'] > label {
        font: var(--text-body-large);
        transition: font var(--ease-accelerate-duration) var(--ease-accelerate);

        & + input {
          transition: max-height var(--ease-accelerate-duration)
            var(--ease-accelerate);
          max-height: 0;
          overflow: hidden;

          &::placeholder {
            opacity: 0;
          }
        }
      }
    }

    &:focus-within {
      border-color: var(--color-primary);

      &::after {
        transform: scaleX(1);
      }

      > [role='presentation'] > label {
        color: var(--color-primary);
      }
    }

    &:focus-within,
    &.is-active {
      > [role='presentation'] > label {
        font: var(--text-body-small);
        transition: font var(--ease-decelerate-duration) var(--ease-decelerate);

        & + input {
          transition: max-height var(--ease-decelerate-duration)
            var(--ease-decelerate);
          max-height: 24px;

          &::placeholder {
            opacity: initial;
          }
        }
      }
    }
  }
}
