:root {
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;
  --spacing-xl: 1.5rem;
  --shape-xs: 0.25rem;
  --shape-xs-top: 0.25rem 0.25rem 0 0;
  --shape-sm: 0.5rem;
  --shape-md: 0.75rem;
  --shape-lg: 1rem;
  --shape-lg-start: 1rem 0 0 1rem;
  --shape-lg-end: 0 1rem 1rem 0;
  --shape-lg-top: 1rem 1rem 0 0;
  --shape-xl: 1.75rem;
  --shape-xl-top: 1.75rem 1.75rem 0 0;
  --shape-circle: 50%;
  --opacity-hover: 0.08;
  --opacity-focus: 0.12;
  --opacity-dragged: 0.16;
  --ease-standard: cubic-bezier(0.2, 0, 0, 1);
  --ease-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --ease-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --ease-linear: cubic-bezier(0, 0, 1, 1);
  --ease-duration: 500ms;
  --ease-decelerate-duration: 400ms;
  --ease-accelerate-duration: 200ms;
  --text-display-large: 400 3.5625rem/4rem var(--font-title);
  --text-display-medium: 400 2.8125rem/3.25rem var(--font-title);
  --text-display-small: 400 2.25rem/2.75rem var(--font-title);
  --text-headline-large: 400 2rem/2.5rem var(--font-title);
  --text-headline-medium: 400 1.75rem/2.25rem var(--font-title);
  --text-headline-small: 400 1.5rem/2rem var(--font-title);
  --text-title-large: 400 1.375rem/1.75rem var(--font-title);
  --text-title-medium: 500 1rem/1.5rem var(--font-title);
  --text-title-small: 500 0.875rem/1.25rem var(--font-title);
  --text-body-large: 400 1rem/1.5rem var(--font-content);
  --text-body-medium: 400 0.875rem/1.25rem var(--font-content);
  --text-body-small: 400 0.75rem/1rem var(--font-content);
  --text-label-large: 500 0.875rem/1.25rem var(--font-content);
  --text-label-medium: 500 0.75rem/1rem var(--font-content);
  --text-label-small: 500 0.6875rem/1rem var(--font-content);
  --text-code: 400 0.875rem/1.25rem var(--font-code);
}
